<svg xmlns="http://www.w3.org/2000/svg" width="500" height="300" viewBox="0 0 500 300">
  <rect width="100%" height="100%" fill="#888888" />
  <text x="50%" y="33%" fill="#ffffff" font-family="Arial" font-size="36" text-anchor="middle">{{.PublicName}}</text>
  <text x="50%" y="65%" fill="#ffffff" font-family="Arial" font-size="24" text-anchor="middle">The requested image has expired</text>
</svg>
