{{define "forgotpw"}}{{ template "header" . }}
      <div class="row">
        <div class="col">
		<div id="container" class="card" style="width: 35em">
		  <div class="card-body">
		    <h3 class="card-title">{{ .Lang.T "forgotpw_title" }}</h3>
		    <br>
		    <p class="card-text">
			{{ .Lang.H "forgotpw_text" }}
		    </p><br>
		  </div>
		</div>
	    </div>
   	 </div>
{{ template "pagename" "ForgotPw"}}
{{ template "customjs" .}}
{{ template "footer" . }}
{{end}}
