{{define "header"}}<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">


	<link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
        <link href="css/cover.css?v=4" rel="stylesheet">
{{ if .IsAdminView }}
        <title>{{template "app_name"}} Admin</title>
	<link href="./assets/dist/css/dropzone.min.css" rel="stylesheet">
	<link href="./assets/dist/css/datatables.min.css" rel="stylesheet" />
	<script src="./assets/dist/js/jquery.min.js"></script>
	<script src="./assets/dist/js/bootstrap.bundle.min.js"></script>
	<script src="./assets/dist/js/dropzone.min.js?v=3"></script>
	<script src="./assets/dist/js/clipboard.min.js"></script>
	<script src="./assets/dist/js/datatables.min.js"></script>
	<style>
		.masthead-brand {
			float: left;
		}
		.nav-masthead {
			float: right;
		}
	</style>
{{ else }}
        <title>{{template "app_name"}}</title>
	<style>
	body {
	  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
	}
	</style>
	<script src="./js/end2end_download.js"></script>
{{end}}
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
{{ if .IsAdminView }}
  <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div  style="max-width: 80em;  margin: 0 auto;"  class="inner">
          <h1>{{template "app_name"}}</h1>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link {{ if .IsMainView }}active{{ end }}" href="./admin">Upload</a>
            <a class="nav-link {{ if not .IsMainView }}active{{ end }}" href="./apiKeys">API</a>
            {{ if .IsLogoutAvailable }}<a class="nav-link" href="./logout">Logout</a>{{ end }}
          </nav>
        </div>
      </header>
  <main style="margin-top: 2rem">
{{ else }}
  <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h1><a href="/index" style="text-decoration: none;display: block;">{{template "app_name"}}</a></h1>
    </div>
  </header>
  <main>
{{ end }}
{{end}}

