{{define "redirect_filename"}}<!doctype html>
<html><head>

       {{ if .PasswordRequired }}
          <title>{{.PublicName}}: Password required</title>
	  <meta name="title" content="{{.PublicName}}">
    	  <meta name="description" content="Password required">
    	  
    	  <meta property="og:title" content="{{.PublicName}}"/>
  	  <meta property="og:description" content="Password required"/>
       {{ else }}
          <title>{{.PublicName}}: {{.Name}}</title>
	  <meta name="title" content="{{.PublicName}}: {{.Name}}">
    	  <meta name="description" content="{{.Size}}">
    	  
    	  <meta property="og:title" content="{{.Name}}"/>
  	  <meta property="og:description" content="{{.Size}}"/>
       {{end }}
          <meta property="og:url" content="{{.BaseUrl}}"/>

</head>

<!-- If you are not being redirected, click <a id="redirect" href="./../../{{.RedirectUrl}}?id={{.FileId}}">here</a> -->


<script>
let hash = window.location.hash.substr(1);
window.location.replace("./../../{{.RedirectUrl}}?id={{.FileId}}#"+hash);
</script>

</html>
{{end}}
