{{define "forgotpw"}}
{{ template "header" . }} 
      <div class="row">
        <div class="col">
		<div id="container" class="card" style="width: 20em">
		  <div class="card-body">
		    <h3 class="card-title">Forgot password</h3>
		    <br>
		    <p class="card-text">
			Please restart the server with the argument <code>--reconfigure</code> in order to change the password.
		    </p>
		  </div>
		</div>
	    </div>
   	 </div>
{{ template "footer" }}
{{end}}
