{{ define "admin_header" }}
<link href="./assets/dist/css/dropzone.min.css" rel="stylesheet" />
<link href="./assets/dist/css/datatables.min.css" rel="stylesheet" />
<script src="./assets/dist/js/jquery.min.js"></script>
<script src="./assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="./assets/dist/js/dropzone.min.js?v={{ template "js_dropzone_version"}}"></script>
<script src="./assets/dist/js/clipboard.min.js"></script>
<script src="./assets/dist/js/datatables.min.js"></script>
<script src="./assets/dist/js/qrcode.min.js"></script>

<style>
.masthead-brand {
    float: left;
}
.nav-masthead {
    float: right;
}
</style>
{{ end }}
