{{define "download"}}
{{template "header" .}}
 
      <div class="row">
        <div class="col">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h4 class="card-title">{{ .Name }}</h4>
		    <p class="card-text">Filesize: {{ .Size }}</p>
{{ if .ClientSideDecryption }}
		    <a id="downloadlink" onclick="this.outerHTML = ''; Download();" href="#" class="card-link">Download</a>
{{  else }}
		    <a onclick="disableAfterClick(this);" download href="./downloadFile?id={{ .Id }}" class="card-link">Download</a>
{{ end }}
		  </div>
		</div>
	    </div>
    </div>


{{ if .ClientSideDecryption }}
		<script src="./js/streamsaver.js"></script>
		<script src="./js/wasm_exec.js"></script>
		
		
		<script>
			const go = new Go(); // Defined in wasm_exec.js
			const WASM_URL = 'main.wasm';

			var wasm;

			if ('instantiateStreaming' in WebAssembly) {
				WebAssembly.instantiateStreaming(fetch(WASM_URL), go.importObject).then(function (obj) {
					wasm = obj.instance;
					go.run(wasm);
				})
			} else {
				fetch(WASM_URL).then(resp =>
					resp.arrayBuffer()
				).then(bytes =>
					WebAssembly.instantiate(bytes, go.importObject).then(function (obj) {
						wasm = obj.instance;
						go.run(wasm);
					})
				)
			}
			
			
			async function Download() {
			    try {
				const response = await GokapiDecrypt({{ .Cipher }}, "./downloadFile?id={{ .Id }}")
				const readableStream = response.body
				const reader = response.body.getReader()
				const fileStream = streamSaver.createWriteStream({{ .Name }})
				     
				
				  window.writer = fileStream.getWriter()

				  const pump = () => reader.read()
				    .then(res => res.done
				      ? writer.close()
				      : writer.write(res.value).then(pump))

				  pump()
			    } catch (err) {
				console.error('Caught exception', err)
			    }
			}
		</script>
{{ else }}

		<script> 
		   function disableAfterClick(link) {
		     link.onclick = function(event) {
			event.preventDefault();
		     }
		     link.outerHTML = "";
		   }   
</script>
{{ end }}

{{template "footer"}}    
{{end}}
