{{define "download_password"}}{{template "header" .}}

 {{ if .EndToEndEncryption }}
<script>
		parseHashValue({{.Id}});
</script>
{{ end }}

      <div class="row">
        <div class="col">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h4 class="card-title">{{ .Lang.T "downloadpw_title" }}</h4>
			<form method="post" action="./d?id={{.Id}}" id="form" name="form" onSubmit="submitForm()">
			  <div class="form-group">
			    <br><input type="password" minlength="1" class="form-control" id="passwordFile" placeholder="{{ .Lang.T "downloadpw_placeholder" }}" required>
				<input type="hidden" id="pw_hidden" name="password">
			  </div>
{{ if .IsFailedLogin }}
				<br><span style="color:red"> {{ .Lang.T "downloadpw_incorrect" }}</span><br>
{{ end }}
			  <br><button type="submit" class="btn btn-outline-light">{{ .Lang.T "btn_continue" }}</button>
			</form>
		  </div>
		</div>
	    </div>
    </div>

<script>
function submitForm(){
	document.getElementById("passwordFile").disabled = true;
	document.getElementById("pw_hidden").value = document.getElementById("passwordFile").value;
	document.getElementById("submitbutton").disabled = true;
	return true;
}
</script>
{{ template "pagename" "PublicDownloadPw"}}
{{ template "customjs" .}}
{{template "footer" . }}
{{end}}
