{{define "error"}}{{template "header" .}}

     <div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card shadow-sm" style="width: {{ .ErrorCardWidth }};">
      <div class="card-body text-center">
{{ if .IsGenericError }}

    {{ if eq .ErrorId 0 }}
        <h2 class="card-title">
          {{ .Lang.T "errorpage_file_not_found_title" }}
        </h2>
        <br>
          {{ .Lang.T "errorpage_file_not_found_text" }}
    {{ end }}

    {{ if eq .ErrorId 1 }}
        <h2 class="card-title">
          {{ .Lang.T "errorpage_upload_title" }}
        </h2>
        <br>
          {{ .Lang.T "errorpage_upload_text" }}
          <i><ul class="list-unstyled mt-2">
            <li>- {{ .Lang.T "errorpage_upload_reason_expired" }}</li>
            <li>- {{ .Lang.T "errorpage_upload_reason_limit" }}</li>
            <li>- {{ .Lang.T "errorpage_upload_reason_url" }}</li>
          </ul></i>
   {{ end }}

   {{ if eq .ErrorId 2 }}
        <h2 class="card-title">
          {{ .Lang.T "errorpage_decryption_title" }}
        </h2>
        <br>
          {{ .Lang.H "errorpage_decryption_text" }}
   {{ end }}

   {{ if eq .ErrorId 3 }}
       <h2 class="card-title">{{ .Lang.T "errorpage_unauthorised_title" }}</h2>
		    <br>
		    <p class="card-text">{{ .Lang.T "errorpage_unauthorised_text" }}</p><br><br>
		    <a href="./login?consent=true" class="card-link">{{ .Lang.T "errorpage_login_other_user" }}</a>
   {{ end }}

{{ else }}

   {{ if eq .ErrorId 4 }}
		 <h2 class="card-title">{{ .Lang.Tf "errorpage_oidc_title" .ErrorTitle }}</h2>
				    <br>
				    <p class="card-text"><b>{{ .Lang.T "errorpage_oidc_text" }}</b></p>
		{{ if .ErrorOauthMessage }}
				 <p class="text-monospace">{{ .ErrorOauthMessage }}</p>
		{{ end}}
				 <p class="text-monospace">{{ .ErrorMessage }}</p><br>
				    <a href="./login?consent=true" class="card-link">{{ .Lang.T "errorpage_try_again" }}</a>
   {{ else }}

        <h2 class="card-title">
          {{ .ErrorTitle }}
        </h2>
        <br>
          {{ .ErrorMessage }}
   {{ end }}

{{ end }}



        </p>
      </div>
    </div>
  </div>
</div>
{{ template "pagename" "PublicError"}}
{{ template "customjs" .}}
{{template "footer" . }}
{{end}}
