{{define "redirect_filename"}}
<html><head></head>

<!-- If you are not being redirected, click <a id="redirect" href="./../../{{.RedirectUrl}}?id={{.FileId}}">here</a> -->


<script>
let hash = window.location.hash.substr(1);
//let url = document.getElementById("redirect");

//url.href = url.href + "#"+hash;
window.location.replace("./../../{{.RedirectUrl}}?id={{.FileId}}#"+hash);
</script>

</html>
{{end}}
