{{ define "header" }}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="css/min/gokapi.min.css?v={{ template "css_main"}}" rel="stylesheet">

    {{/* Title */}}
    {{ if eq .ViewType "admin" }}
      <title>{{.PublicName}} Admin</title>
    {{ else if eq .ViewType "download" }}
      {{ if .IsPasswordView }}
        <title>{{.PublicName}}: Password required</title>
      {{ else }}
        <title>{{.PublicName}}: {{.Name}}</title>
      {{ end }}
    {{ else if eq .ViewType "guestupload" }}
      <title>{{.PublicName}} Guest Upload</title>
    {{ else }}
      <title>{{.PublicName}}</title>
    {{ end }}

    {{ if eq .ViewType "admin" }}
      {{ template "admin_header" . }}
    {{ end }}
    
    {{ if eq .ViewType "download" }}
      {{ template "download_header" . }}
    {{ end }}

    {{ if eq .ViewType "guestupload" }}
      {{ template "guestupload_header" . }}
    {{ end }}
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    {{ if eq .ViewType "admin" }}
      <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div  style="max-width: 80em;  margin: 0 auto;"  class="inner">
            <h1>{{.PublicName}}</h1>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link {{ if eq .ActiveView 0}}active{{ end }}" href="./admin">Upload</a>
              <a class="nav-link {{ if eq .ActiveView 3}}active{{ end }}" href="./guestTokens">Guest Tokens</a>
              <a class="nav-link {{ if eq .ActiveView 1 }}active{{ end }}" href="./logs">Logs</a>
              <a class="nav-link {{ if eq .ActiveView 2 }}active{{ end }}" href="./apiKeys">API</a>
              {{ if .IsLogoutAvailable }}<a class="nav-link" href="./logout">Logout</a>{{ end }}
            </nav>
          </div>
        </header>
        <main style="margin-top: 2rem">
    {{ else }}
      <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div>
            <h1><a href="/index" style="text-decoration: none;display: block;">{{.PublicName}}</a></h1>
          </div>
        </header>
        <main>
    {{ end }}
{{ end }}

