{{define "footer"}}
  </main>

  <footer class="mt-auto text-white-50">
          <p> Powered by <a href="https://github.com/Forceu/Gokapi" target="_blank" rel="noopener noreferrer">Gokapi {{if eq . true }}v{{template "version"}}{{end}}</a></p>
  </footer>
</div>
  </body>
</html>
{{end}}
