{{define "footer"}}
  </main>

  <footer class="mt-auto text-white-50">
          <p> Powered by <a href="https://github.com/Forceu/Gokapi" target="_blank">Gokapi v{{template "version"}}</a></p>
  </footer>
</div>
  </body>
</html>
{{end}}
