{{ define "users" }}
{{ template "header" . }}
<div class="row">
    <div class="col">
        <div id="container" class="card" style="width: 80%">
    <div class="card-body">
		<div class="container">
		  <div class="row mb-4">
		    <div class="col">
		    </div>
		    <div class="col text-center">
		      <h3 class="card-title mb-0">Users</h3>
		    </div>
		    <div class="col text-end">
		      <button id="add-user-btn" class="btn btn-outline-light" onclick="showAddUserModal()">
                    <i class="bi bi-plus-circle-fill"></i>
                </button>
		    </div>
		  </div>
		</div>
                <div class="table-responsive">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Group</th>
            			<th scope="col">Last online</th>
            			<th scope="col">Uploads</th>
            			<th scope="col">Permissions</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="usertable">
{{ range .Users }}
                            <tr id="row-{{ .User.Id }}">
                                <td scope="col" id="{{ .User.Id }}">{{ .User.Name }}</td>
                                <td scope="col">{{ .User.Email }}</td>
                                <td scope="col" id="userlevel_{{ .User.Id }}">{{ .User.GetReadableUserLevel }}</td>
            			<td scope="col">{{ .User.GetReadableDate }}</td>
                                <td scope="col">{{ .UploadCount }}</td>
            			<td scope="col" class="prevent-select">
            			
		<i id="perm_replace_{{ .User.Id }}" class="bi bi-recycle {{if not .User.HasPermissionReplace}}perm-notgranted{{else}}perm-granted{{end}} {{if or (eq .User.UserLevel 0) (eq .User.Id $.ActiveUser.Id)}}perm-nochange{{end}}" title="Replace own uploads" onclick='changeUserPermission("{{ .User.Id }}","PERM_REPLACE", "perm_replace_{{ .User.Id }}");'></i>
		
		<i id="perm_list_{{ .User.Id }}" class="bi bi-eye {{if not .User.HasPermissionListOtherUploads}}perm-notgranted{{else}}perm-granted{{end}} {{if or (eq .User.UserLevel 0) (eq .User.Id $.ActiveUser.Id)}}perm-nochange{{end}}" title="List other uploads" onclick='changeUserPermission("{{ .User.Id }}","PERM_LIST", "perm_list_{{ .User.Id }}");'></i>
		
		<i id="perm_edit_{{ .User.Id }}" class="bi bi-pencil {{if not .User.HasPermissionEditOtherUploads}}perm-notgranted{{else}}perm-granted{{end}} {{if or (eq .User.UserLevel 0) (eq .User.Id $.ActiveUser.Id)}}perm-nochange{{end}}" title="Edit other uploads" onclick='changeUserPermission("{{ .User.Id }}","PERM_EDIT", "perm_edit_{{ .User.Id }}");'></i>
		
		<i id="perm_delete_{{ .User.Id }}" class="bi bi-trash3 {{if not .User.HasPermissionDeleteOtherUploads}}perm-notgranted{{else}}perm-granted{{end}} {{if or (eq .User.UserLevel 0) (eq .User.Id $.ActiveUser.Id)}}perm-nochange{{end}}" title="Delete other uploads" onclick='changeUserPermission("{{ .User.Id }}","PERM_DELETE", "perm_delete_{{ .User.Id }}");'></i>
		
		<i id="perm_replace_other_{{ .User.Id }}" class="bi bi-arrow-left-right {{if not .User.HasPermissionReplaceOtherUploads}}perm-notgranted{{else}}perm-granted{{end}} {{if or (eq .User.UserLevel 0) (eq .User.Id $.ActiveUser.Id)}}perm-nochange{{end}}" title="Replace other uploads" onclick='changeUserPermission("{{ .User.Id }}","PERM_REPLACE_OTHER", "perm_replace_other_{{ .User.Id }}");'></i>
		
		<i id="perm_logs_{{ .User.Id }}" class="bi bi-card-list {{if not .User.HasPermissionManageLogs}}perm-notgranted{{else}}perm-granted{{end}} {{if or (eq .User.UserLevel 0) (eq .User.Id $.ActiveUser.Id)}}perm-nochange{{end}}" title="Manage system logs" onclick='changeUserPermission("{{ .User.Id }}","PERM_LOGS", "perm_logs_{{ .User.Id }}");'></i>

		<i id="perm_users_{{ .User.Id }}" class="bi bi-people {{if not .User.HasPermissionManageUsers}}perm-notgranted{{else}}perm-granted{{end}} {{if or (eq .User.UserLevel 0) (eq .User.Id $.ActiveUser.Id)}}perm-nochange{{end}}" title="Manage users" onclick='changeUserPermission("{{ .User.Id }}","PERM_USERS", "perm_users_{{ .User.Id }}");'></i>

		<i id="perm_api_{{ .User.Id }}" class="bi bi-sliders2 {{if not .User.HasPermissionManageApi}}perm-notgranted{{else}}perm-granted{{end}} {{if or (eq .User.UserLevel 0) (eq .User.Id $.ActiveUser.Id)}}perm-nochange{{end}}" title="Manage API keys" onclick='changeUserPermission("{{ .User.Id }}","PERM_API", "perm_api_{{ .User.Id }}");'></i>
		
            			</td>
                                <td scope="col">
                                {{if gt .User.UserLevel 1}}
		                        <button id="changeRank_{{ .User.Id }}" type="button" onclick="changeRank({{ .User.Id }}, 'ADMIN', 'changeRank_{{ .User.Id }}')" title="Promote User" {{ if eq .User.Id $.ActiveUser.Id}}disabled{{end}} class="btn btn-outline-light btn-sm">
		                        	<i class="bi bi-chevron-double-up"></i></button>
                                {{ else }}
                       			 <button id="changeRank_{{ .User.Id }}" type="button" onclick="changeRank({{ .User.Id }}, 'USER', 'changeRank_{{ .User.Id }}')" {{if or (eq .User.UserLevel 0) (eq .User.Id $.ActiveUser.Id)}}disabled{{end}} title="Demote User" class="btn btn-outline-light btn-sm">
		                        	<i class="bi bi-chevron-double-down"></i></button>                                
                                {{ end }}
                                
                                <button id="delete-{{ .User.Id }}" type="button" class="btn btn-outline-danger btn-sm" {{if or (eq .User.UserLevel 0) (eq .User.Id $.ActiveUser.Id)}}disabled{{end}} onclick="showDeleteModal('{{ .User.Id }}', '{{ .User.Email }}')" title="Delete"><i class="bi bi-trash3"></i></button></td>
                            </tr>
{{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	<div id="toastnotification" class="toastnotification" data-default="Invalid notification">Toast Text</div>
	
	<!-- Modal for deletion confirmation -->
	<div class="modal" tabindex="-1" id="deleteModal">
	  <div class="modal-dialog gokapi-dialog">
	    <div class="modal-content gokapi-dialog">
	      <div class="modal-header">
		<h5 class="modal-title">Delete User</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
		<p>Are you sure you want to delete user <span id="deleteModalBody" class="fw-bold"></span>?
		This action cannot be undone.</p>
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="checkbox"  id="checkboxDelete" value="" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault">
		    Permanently delete all files uploaded by this user.
		  </label>
		</div>
		</div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
		<button type="button" id="buttonDelete" class="btn btn-danger">Delete User</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
		<!-- Modal for adding new user  -->
	<div class="modal fade" id="modalnewuser" tabindex="-1" aria-hidden="true">
	  <div class="modal-dialog gokapi-dialog">
	    <div class="modal-content gokapi-dialog">
	      <div class="modal-header">
		<h1 class="modal-title fs-5">New User</h1>
	      </div>
	      <div class="modal-body">
	      
	            <form id="newUserForm">
		  <div class="input-group mb-3">
		    <span class="input-group-text" id="label-name">Name</span>
		    <input type="text" class="form-control" required minlength="2" placeholder="Full Name" aria-label="Name" aria-describedby="label-name" id="e_userName">
		    <div class="invalid-feedback">
		      Name must be at least 2 characters long.
		    </div>
		  </div>
		  <div class="input-group mb-3">
		    <span class="input-group-text" id="label-email">Email&nbsp;</span>
		    <input type="text" class="form-control" placeholder="Email Address" aria-label="Email" aria-describedby="label-email" pattern=".*@.*" minlength="4" required id="e_email">
		    <div class="invalid-feedback">
		      Email must be at least 4 characters long and contain an "@" symbol.
		    </div>
		  </div>
		</form>
	      </div>
      
	      <div class="modal-footer">
		<button type="button" class="btn btn-outline-light"  aria-label="Cancel" data-bs-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary" onclick="addNewUser();" id="mb_addUser">Add User</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
    </div>
</div>

<script src="./js/min/admin.min.{{ template "js_admin_version"}}.js"></script>
<script>
	var systemKey = "{{.SystemKey}}";
</script>
{{ template "footer" true }}
{{ end }}
