// Change these for rebranding
{{define "version"}}1.8.2{{end}}

// Specifies the version of JS files, so that the browser doesn't
// use a cached version, if the file has been updated
{{define "js_admin_version"}}2{{end}}
{{define "js_dropzone_version"}}3{{end}}
{{define "js_e2eversion"}}2{{end}}
{{define "css_main"}}2{{end}}