{{define "login"}}
{{ template "header" . }} 
      <div class="row">
        <div class="col">
		<div id="container" class="card" style="width: 20em">
		  <div class="card-body">
		    <h1 class="card-title">Login</h1>
		    <br>
		    <p class="card-text">
			<form method="post" action="./login" id="form" name="form" onSubmit="submitForm()">
				<input type="text" placeholder="Username" value="{{.User}}" id="username">
				<input type="hidden" id="uname_hidden" name="username">
				<br><br>
				<input type="password"  placeholder="Password" id="password">
				<input type="hidden" id="pw_hidden" name="password">
				<br><br>
{{ if .IsFailedLogin }}
				<span style="color:red"> Incorrect username or password!</span><br><br>
{{ end }}
				<button type="submit"  id="submitbutton" class="btn btn-light">Login</button>
			</form>
			<br><br>
			<a href="./forgotpw">Forgot password</a></p>
		  </div>
		</div>
	    </div>
   	 </div>
<script>
function submitForm(){
	document.getElementById("username").disabled = true;
	document.getElementById("password").disabled = true;
	document.getElementById("uname_hidden").value = document.getElementById("username").value;
	document.getElementById("pw_hidden").value = document.getElementById("password").value;
	document.getElementById("submitbutton").disabled = true;
	return true;
}
</script>
{{ template "footer" }}
{{end}}
