{{define "footer"}}
  </main>

  <footer class="mt-auto text-white-50">
          <p>Gokapi v{{template "version"}} | <a href="https://github.com/Forceu/Gokapi">https://github.com/Forceu/Gokapi</a></p>
  </footer>
</div>


    
  </body>
</html>
{{end}}
