{{define "forgotpw"}}
{{ template "header" }} 
      <div class="row">
        <div class="col">
		<div id="container" class="card" style="width: 20em">
		  <div class="card-body">
		    <h3 class="card-title">Forgot password</h3>
		    <br>
		    <p class="card-text">
			Please restart the server with the argument <code>--reset-pw</code> in order to change the password.
		    </p>
		  </div>
		</div>
	    </div>
   	 </div>
<script>
function submitForm(){
	document.getElementById("username").disabled = true;
	document.getElementById("password").disabled = true;
	document.getElementById("uname_hidden").value = document.getElementById("username").value;
	document.getElementById("pw_hidden").value = document.getElementById("password").value;
	document.getElementById("submitbutton").disabled = true;
	return true;
}
</script>
{{ template "footer" }}
{{end}}
