{{define "error"}}
{{template "header"}}
 
      <div class="row">
        <div class="col">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h2 class="card-title">Error</h2>
		    <p class="card-text">Sorry, this file cannot be found. Either the link has expired or it has been downloaded already.</p>
		  </div>
		</div>
	    </div>
    </div>
{{template "footer"}}    
{{end}}
