name: Docker Publish Dev Multiarch

on:
  workflow_dispatch:
  push:
    branches: master


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: install buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest
      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PW }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin
      - name: build the image
        run: |
          docker buildx build --tag f0rc3/gokapi:latest --platform linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64 .
      - name: push the image
        run: |
          docker buildx build --push --tag f0rc3/gokapi:latest-dev --platform linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64 .
